
<div class="tech-btm">
    <h5>Mail Bültenimize Kayıt Olun</h5>
    <p>Bültenimizden haberdar olmak için mail adresiniz ile kayıt olabilirsiniz. </p>
    <form action="/NewSletter/SubscribeMail/" method="post">
        <input type="email" placeholder="Mail Adresiniz" name="Mail" required="">
        <input type="submit" value="Abone Ol">
    </form>
</div>